# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
**/.conda/

# Testing & caches
.pytest_cache/
**/.pytest_cache/
.coverage
htmlcov/

# Spark & Job outputs
**/output/
**/output_1m/
**/checkpoint/
**/stream_input/*
!**/stream_input/.gitkeep
**/stream_input_exp/
**/stream_input_write/
*.crc
metastore_db/
derby.log
warehouse/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

**/data/**
!**/scripts/.gitkeep
**/_resume_100M/
**/_answer_key/
*.log
*.tar.gz